    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- <link rel="stylesheet" href="../static/css/style.css/"> -->
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <h1>İKLİM DEĞİŞİKLİĞİ</h1>

    <h3>{{bilgi}}</h3><br>
    <div class="kaynakca" id="kaynak">
        <h2>Kaynakça:</h2>
        <a href="https://www.magdeburger.com.tr/blog/kuresel-iklim-degisikligi" target="_blank">
            Magdeburger - Küresel İklim Değişikliği
        </a>
    </div>

    <div class="kayan-yazi">
        <p>Bu sitedeki bilgiler veri kazıma tekniği ile eklenmiştir.  !!! </p>
    </div>

    
    
    </body>
    </html>

